.contact {
  gap: 0.25rem;
}
.danger {
  /* border: 1px solid blue; */
  height: 7rem;
  color: aqua;

  & input:not(:focus):invalid {
      outline: 1px solid var(--danger);
  }

  & input:not(:focus):invalid ~ .error_alert {
      display: flex;
      color:aqua
  }

  & svg path {
    stroke: var(--danger);
    fill: var(--danger);
  }

  & svg {
    height: 1rem;
    width: 1rem;
  }
}

.error_alert {
  /* border: 2px solid green; */
  display: none;
  align-items: center;
  gap: .5rem;
  margin-top: .5rem;

  & span {
    color: var(--danger);
    font: var(--font-body-xs);
  }
}