#send {
  margin-inline: auto 0;
  margin-block-start: 3rem;
  background-color: var(--brand-dark);
  display: flex;
  align-items: center;
  gap: .75rem;
  padding: .75rem 1.25rem;
  height: 3rem;
  width: 11rem;
  border-radius: .5rem;
  cursor: pointer;
  & img {
    height: 1.25rem;
    width: 1.25rem;
  }

  & button {
    all: unset;
    font: 500 var(--body-md);
    color: var(--text-head);
  }

  &:hover {
    background-color: var(--brand-mid);
  }
}