@import url(fields/index.css);

fieldset {
  border: none;
  display: grid;
  gap: 1.25rem;

  legend {
    display: flex;    
    align-items: end;
    gap: 1rem;

    font: var(--font-heading-sm);
    padding-top: 2.5rem ;
    margin-bottom: 1.5rem;

    & svg path {
      fill: var(--input-placeholder)
    }
  }
}

.main-color {
  flex-direction: row;
  flex-wrap: wrap;
  gap: auto;
}